<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/common::head"></head>
<body class="body-main">
<header th:replace="fragments/common::navigation"></header>
<div class="container">
    <div class="jumbotron">
        <div class="container text-dark text-center">
            <h1 class="display-6">
                <strong class="rounded border-white pl-3 font-weight-bold" th:text="${camType}">Фотоапарати тип
                    ...</strong>
            </h1>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <div class="container pb-2 pt-2 bg-dark bg-opacity-50 text-white" th:object="${camera}">
                            <div class="row mt-1 mb-1">
                                <div class="col-4">
                                    <img th:src="*{pictures.url}" class="img-fluid shadow-lg">
                                </div>
                                <div class="col">
                                    <div class="row border-bottom">
                                        <h3 th:text="*{cameraName}"></h3>
                                    </div>
                                    <div class="row pt-3 pb-3 border-bottom">
                                        <textbox th:text="*{description}"></textbox>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="row text-center mt-2 pt-2">
                                        <h5 th:text="'Цена: '+*{price} + ' лв.'"></h5>
                                    </div>


                                    <div class="row pt-3 text-center text-info" th:if="*{quantity > 0}">
                                        <h6>В наличност</h6>
                                    </div>

                                    <div class="row pt-3 text-center text-danger" th:unless="*{quantity > 0}">
                                        <h6>Изчерпан</h6>
                                    </div>

                                    <div class="row m-4 pt-4">
                                        <a class="btn btn-success" href="/">Купи
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer th:replace="fragments/common::footer"></footer>

</body>
</html>